@charset "UTF-8";

html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  color: #666;
  font-size: 1.5rem;
}
body, header, main, footer, figure {
  margin: 0;
  padding: 0;
}
/* -----------------
_______base_________
------------------- */

header, .breadcrumb, .slider, .container, footer {
  margin: 0 auto;
  width: 830px;
}
a {
  color: #000;
}
.logo {
  margin-bottom: 20px;
}
.global_nav {
  margin-bottom: 16px;
}
.global_nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}
.global_nav ul li {
  border: 5px solid #cecece;
  border-radius: 5px;
  font-size: 2rem;
  height: 66px;
  line-height: 60px;
  letter-spacing: 1px;
  text-align: center;
  width: 186px;
}
.global_nav a {
  display: block;
  text-decoration: none;
  height: 56px;
}
.global_nav a:hover {
  background: radial-gradient(#afd6ee, #37a0e1);
  color: #fff;
}
.breadcrumb {
  margin-bottom: 16px;
}
.breadcrumb ol {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}
.breadcrumb ol li a:hover {
  opacity: .5;
}
.breadcrumb li:not(first-child) {
  color: #787878;
}
.breadcrumb li:not(:last-child)::after {
  content: '＞';
  padding: 0 10px;
}
.container {
  display: flex;
  margin-bottom: 36px;
}
main {
  width: 570px;
  margin: 0 40px 0 0;
  width: 570px;
}
h1 {
  background-image: url(../images/back_h1_bottom.png), url(../images/back_h1_top.png);
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  color: #fff;
  font-size: 3rem;
  height: 78px;
  line-height: 78px;
  margin: 0 0 30px 0;
  text-align: center;
}
.sub {
  text-align: center;
  width: 220px;
}
.bnr_facility a{
  text-decoration: none;
}
.bnr_facility a:hover {
  opacity: .5;
}
.pagetop a {
  position: relative;
}
.pagetop a::before {
  content: url(../images/back_arrow.png);
  position: absolute;
  right: 138px;
  top: 0;
}
.pagetop a:hover {
  opacity: .5;
}
.pagetop {
  margin-bottom: 10px;
  text-align: right;
}
.footer_info {
  background-image: url(../images/back_footer.png);
  background-repeat: repeat-x;
  clear: both;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  height: 66px;
}
.address-br {
  display: none;
}
address {
  font-style: normal;
  padding-top: 16px;
}
small {
  padding-top: 0;
}
/* ----------------
---------index------ */
h2 {
  background-image: url(../images/back_h2_left.png), url(../images/back_h2_bottom.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left top, left bottom;
  font-size: 2.1rem;
  line-height: 28px;
  margin-top: 0 0 20px 0;
  padding: 0 10px 14px 16px;
  color: #000;
}
.topics ul {
  list-style-type: none;
  padding-left: 0;
}
.topics ul li {
  border-bottom: 2px dotted #afafaf;
  margin-top: 20px;
  padding-bottom: 20px;
}
.topics ul li time {
  color: #138edb;
  font-weight: bold;
  padding-right: 40px;
}
/* ---------------
------about------- */
.photo_left {
  float: left;
  margin: 0 20px 20px 0;
}
.photo_right {
  float: right;
  margin: 0 0 20px 20px;
}
.h2_group p {
  margin-bottom: 20px;
}
.sub {
  clear: both;
}
/* ----------------
-----guide--------- */
table caption {
  margin-bottom: 30px;
  text-align: left;
}
.table_guide {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table, th, td {
  border: 1px solid black;
}
thead {
  background-color: #f3be30;
  color: #333;
  padding: 6px;
}
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
tbody td:first-child {
  font-weight: bold;
  height:46px;
  text-align: center;
  width: 30%;
}
tbody td:nth-child(2) {
  padding:4px;
  width: 45%;
}
tbody td:last-child {
  padding: 4px;
  text-align: right;
}
/* --------------
----facility------ */
.container p {
  line-height: 1;
  margin:0 0 20px 0;
}
.facility-images ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 1;
  list-style-type: none;
  padding-left: 0;
}
.facility-images li {
  margin-top: 20px;
  width: 178px;
}
/* ------------------
contact
--------------------- */

.contact-form ul {
  margin-bottom: 30px;
  padding-left: 30px;
}
form ul li {
  list-style-type: none;
  margin-bottom: 16px;
}
input[type="name"] {
  padding: 0;
  width: 200px;
}
input[type="tel"] {
  padding: 0;
  width: 100px;
}
textarea {
  height: 140px;
  overflow-y: scroll;
  width: 400px;
}


/* --------------------
レスポンシブ
----------------------*/
@media screen and (max-width:767px) {

  body, header, main, .sub, h1, footer, figure, .global_nav, .container {
    width: 100%;
  }
  .global_nav, .container {
    padding: 0 4px;
  }
  .logo {
    text-align: center;
    margin: 20px 0;
  }
  .global_nav ul {
    flex-wrap: wrap;
  }
  .global_nav ul li {
    width: 100%;
    border: 2px solid #cecece;
    border-radius: 0;
    height: 100%;
    line-height: 160%;
    font-size: 1.8rem;
  }
  .global_nav ul li:not(:last-child) {
    border-bottom: none;
  }
  .global_nav a {
    height: 100%;
  }
  .breadcrumb {
    width: 96%;
  }
  .container {
    display: block;
    width: 100%;
  }
  main {
    margin-bottom: 20%;
  }
  h1 {
    border-radius: 10px;
  }
  .pagetop {
    margin-right: 4%;
  }
  .footer_info {
    font-size: 74%;
  }
  .address-br {
    display: block;
  }
  /* ホーム画面--Index-- */
  .slider {
    width: 100%;
  }
  .slider img {
    height: auto;
  }
  .topics ul li time {
    display: block;
    padding-right: 0;
  }
  .topics {
    padding: 0 2%;
  }
  /* 当病院について--about-- */
  .h2_group {
    padding: 0 2%;
  }
  .photo_left {
    float: none;
    width: 100%;
    height: auto;
    margin: 0 0 6%;
  }
  .photo_right {
    float: none;
    width: 100%;
    height: auto;
    margin: 0 0 6%;
  }
  .container p {
    margin: 0 0 8%;
  }
}
