@charset "UTF-8";

html {
  font-size: 62.5%;
}
body {
  font-size: 1.5rem;
  color: #666;
}
body, header, div, ul, ol, main, footer {
  margin: 0 auto;
  padding: 0;
}
/* -----------------
_______base_________
------------------- */

header, .breadcrumb, .slider, .container, footer {
  margin: 0 auto;
  width: 830px;
}
a {
  color: #000;
}
.logo {
  margin-bottom: 20px;
}
.global_nav {
  margin-bottom: 15px;
}
.global_nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}
.global_nav ul li {
  border: 5px solid #cecece;
  border-radius: 5px;
  font-size: 2rem;
  height: 65px;
  line-height: 65px;
  letter-spacing: 1px;
  text-align: center;
  width: 185px;
}
.global_nav a {
  display: block;
  text-decoration: none;
}
.global_nav a:hover {
  background: radial-gradient(#afd6ee, #37a0e1);
}

.breadcrumb {
  margin-bottom: 15px;
}
.breadcrumb ol {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}
.breadcrumb li:not(first-child) {
  color: #787878;
}
.breadcrumb li:not(:last-child)::after {
  content: '＞';
  padding: 0 10px;
}
.container {
  display: flex;
  margin-bottom: 35px;
}
main {
  width: 570px;
  margin: 0;
}
h1 {
  background-image: url(../images/back_h1_bottom.png), url(../images/back_h1_top.png);
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  color: #fff;
  font-size: 3rem;
  height: 78px;
  line-height: 77px;
  margin: 0 0 30px 0;
  text-align: center;
}
.sub {
  text-align: center;
  width: 220px;
}
.bnr_facility a{
  text-decoration: none;

}
.pagetop a {
  position: relative;
}
.pagetop a::before {
  content: url(../images/back_arrow.png);
  position: absolute;
  right: 148px;
  top: 0;
}
.pagetop {
  margin-bottom: 10px;
  text-align: right;
}
.footer_info {
  background-image: url(../images/back_footer.png);
  background-repeat: repeat-x;
  clear: both;
  color: #fff;
  font-size: 1.7rem;
  text-align: center;
  height: 65px;
}
address {
  font-style: normal;
  padding-top: 15px;

}
small {
  padding-top: 0;
}
/* ----------------
---------index------ */
h2 {
  background-image: url(../images/back_h2_left.png), url(../images/back_h2_bottom.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left top, left bottom;
  font-size: 2.1rem;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0 10px 13px 15px;
  color: #000;
}
.topics ul {
  list-style-type: none;
}
.topics ul li {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px dotted #afafaf;
}
.topics ul li time {
  color: #138edb;
  font-weight: bold;
  padding-right: 40px;
}
/* ---------------
------about------- */
.photo_left {
  float: left;
  margin: 0 20px 20px 0;
}
.photo_right {
  float: right;
  margin: 0 0 20px 20px;
}
.h2_group p {
  margin-bottom: 20px;
}
/* ----------------
-----guide--------- */
table caption {
  text-align: left;
  margin-bottom: 30px;
}
.table_guide {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  width: 100%;
}
thead {
  background-color: #f3be30;
  color: #333;
  padding: 5px;
}
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
tbody td:first-child {
  font-weight: bold;
  height:45px;
  text-align: center;
  width: 30%;
}
tbody td:nth-child(2) {
  padding: 5px;
  width: 45%;
}
tbody td:last-child {
  padding: 5px;
  text-align: right;
}
/* --------------
----facility------ */
.container p {
  margin:0 0 20px 0;
  line-height: 1;
}
.facility_group {
  display: flex;
  line-height: 1;
}
.facility_group figure {
  width: 178px;
  margin: 0 18px 25px 0;
}
.facility_group figure:last-child {
  margin-right: 0;
}
