@charset "UTF-8";

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-family: "游ゴシック体","Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, -apple-system BlinkMacSystemFont, sans-serif;
  font-size: 1.6rem;
}

h1, h2, h3, ul, ol, dl, dt, dd, p {
  margin: 0;
  padding: 0;
}
a {
  color: #333;
  text-decoration: none;
}
ul, ol {
  list-style: none;
}
/* -----------ハンバーガーメニュ------------*/
.hamburger-container {
  background-color: #fff;
  color: #5f5f5f;
  display: none;
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 10000;
  padding: 0 2% 10%;
  width: 100%;
  overflow-y: scroll;
  height: 100%;
}
.btn-menu-close {
  display: none;
}
.open .btn-menu-close {
  display: block;
}
.open .btn-menu-open {
  display: none;
}
.hamburger-header {
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
}
.hamburger-logo {
  margin: 0 20% 0 34%;
}
.hamburger-search {
  margin: 2%;
}
.hamburger-cart {
  position: relative;
  margin: 2%;
}
.hb-cart-counter {
  background-color: #cb001d;
  border: 1px solid #cb001d;
  border-radius: 50%;
  color: #fff;
  padding: 0 16%;
  position: absolute;
  left: 65%;
  bottom: 50%;
}
.hamburger-title-block {
  color: #333;
  margin: 8% 0 1%;
  text-align: center;
}
.hamburger-sub-title {
  color: #333;
  margin-bottom: 8%;
  text-align: center;
}
.checked-items {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-bottom: 10%;
}
.checked-items li:not(:last-child) {
  margin-right: 1%;
}
.checked-items p {
  font-weight: bold;
  margin: 2% 0;
  text-align: center;
}
.checked-items img {
  height: auto;
  width: 100%;
}
.hamburger-main-menu li {
  border-top: 1px solid #eee;
  font-weight: bold;
  padding: 6% 0;
}
.hamburger-main-menu li:last-child {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 4% 0;
}
.hamburger-main-menu img {
  margin-right: 2%;
  height: auto;
  width: 2%;
}
.hamburger-footer-menu {
  margin: 6% 0;
}
.hamburger-footer-menu li {
  margin: 2% 0;
}
.hamburger-footer-menu li a:not(:last-child)::after {
  content: '/';
  margin: 0 2%;
}
.hamburger-sns-block {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: center;
  margin: 4% 0;
}
.hamburger-sns-block li {
  margin: 8% 0;
}
.hamburger-sns-block img {
  height: auto;
  width: 50%;
}
.hamburger-footer .js-btn-close {
  font-weight: bold;
  text-align: center;
  margin: 8% 0;
}
.hamburger-footer .js-btn-close img{
  height: auto;
  margin: 0 2%;
  width: 3%;
}
/* ----------ハンバーガーメニュー終わり---------- */
@media screen and (min-width:768px) {
  body {
    font-size: 1.4rem;
  }
  .header, .top-slider, .news-block, .section-block, .section-block, .section-block,
  .section-banner-block, footer {
    width: 1000px;
    margin: 0 auto;
  }
  .btn-menu,
  .header-nav,
  .sp-top-slider {
    display: none;
  }
  .header {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
  }
  .logo {
    width: 80px;
    margin-right: 20px;
  }
  .global-menu ul {
    display: flex;
  }
  .pc-global-menu {
    width: 496px;
    margin: 0 160px 0 46px;
  }
  .pc-global-menu ul {
    display: flex;
    justify-content: space-between;
    line-height: 3;
    font-weight: bold;
  }
  .pc-global-menu li {
    margin: 0 20px;
  }
  .pc-global-menu img {
    margin: 4px 0 4px 10px;
  }
  .pc-header-nav {
    width: 244px;
  }
  .pc-nav-block ul {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  .pc-nav-block img {
    margin: 0 10px;
  }
  .pc-cart-icon {
    position: relative;
  }
  .pc-cart-counter {
    color: #fff;
    border: 1px solid #cb001d;
    border-radius: 50%;
    background-color: #cb001d;
    padding: 0 16%;
    position: absolute;
    left: 65%;
    bottom: 50%;
  }
  #search-form {
    width:100%;
    height: 20px;
    border: 1px #bbb solid;
    border-radius: 10px;
  }
  #search-form input{
    vertical-align: top;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent;
  }
  #searchbox {
    border: none;
  }
  #submit {
    border: none;
    background-image: url(../images/search-icon.svg);
    background-position: center;
    background-size: auto 90%;
    background-repeat: no-repeat;
  }

}




@media screen and (max-width:767px) {
  body {
    font-size: 1.3rem;
  }
  .pc-global-menu,
  .pc-header-nav,
  .pc-top-slider {
    display: none;
  }
  .header, h3 {
    margin: 0;
    width: 100%;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  .btn-menu {
    padding: 6% 2%;
    width: 30%;
  }
  .logo {
    text-align: center;
    padding: 2%;
    width: 30%;
  }
  .header-nav {
    width: 30%;
  }
  .header-nav ul {
    display: flex;
    justify-content: space-between;
    margin: 16% 10% 8%;
    }
  .header-nav ul li {
    margin: 0 16%;
    width: 50%;
  }
  .sp-cart-icon {
    position: relative;
  }
  .sp-cart-counter {
    color: #fff;
    border: 1px solid #cb001d;
    border-radius: 50%;
    background-color: #cb001d;
    padding: 0 16%;
    position: absolute;
    left: 65%;
    bottom: 50%;
  }

/* ---bxslider--- */
  .sp-top-slider {
    width: 100%;
    height: auto;
  }
  .bx-wrapper .bx-prev {
    background: url(../images/swiper-left-arrow.svg) no-repeat left top;
    background-size: contain;
  }
  .bx-wrapper .bx-next {
    background: url(../images/swiper-right-arrow.svg) no-repeat right top;
    background-size: contain;
  }
  .bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus {
    background-position: 0 0;
  }
  .bx-wrapper .bx-controls-direction a {
    height: 20px;
    width: 15px;
  }
  /* ---bxslider--- */
  .news-block {
    margin: 4% 2% 8%;
  }
  .news-block dt {
    margin-bottom: 2%;
  }
  .news-block dd {
    margin-bottom: 4%;
    text-decoration: underline;
    white-space: nowrap;
  }
   .section-block {
    margin: 20% 2%;
    padding-bottom: 10%;
    border-bottom: 1px solid #eee;
  }
  .title-block {
    margin-bottom: 2%;
    text-align: center;
  }
  .sub-title {
    margin-bottom: 10%;
    text-align: center;
  }
  .product-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .product-item li {
    margin-bottom: 8%;
    width: 48%;
  }
  .product-item li img {
    height: auto;
    width: 100%;
  }
  .product-name {
    font-weight: 300;
    margin: 2% 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .product-price {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
  }
  .btn-view-all {
    border: 1px solid;
    font-size: 1.2rem;
    margin: 8% 14%;
    position: relative;
    text-align: center;
    width: 70%;
  }
  .btn-view-all a {
    display: block;
    padding: 5% 0;
  }
  .btn-view-all i {
    position: absolute;
    right: 5%;
  }


  /* ---RANKINg---ランキング--- */
  .item-ranking {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    counter-reset: ranking;
  }
  .item-ranking li {
    margin-bottom: 8%;
    width: 48%;
  }
  .item-ranking li img {
    height: auto;
    width: 100%;
  }
  .icon-rank {
    position: relative;
  }
  .icon-rank::before {
    background-color: #575757;
    border-radius: 50%;
    color: #fff;
    counter-increment: ranking;
    content: counter(ranking);
    font-weight: 300;
    font-size: 1.2rem;
    padding: 2% 3%;
    position: absolute;
    top: 4%;
    left: 4%;
  }
  .item-ranking li:nth-child(1) .icon-rank::before {
    background-color: #e3c813;
  }
  .item-ranking li:nth-child(2) .icon-rank::before {
    background-color: #807272;
  }
  .item-ranking li:nth-child(3) .icon-rank::before {
    background-color: #8b6933;
  }
  .section-banner-block {
    margin: 10% 2%;
  }
  .banner li {
    margin: 10% 0;
    padding: 0;
  }
  .banner img {
    height: auto;
    width: 100%;}
  .pagetop {
    margin: 0 2%;
    text-align: right;
  }
  footer {
    background-color: #6d6155;
    color: #fff;
    font-size: 1.2rem;
    padding: 2% 0 6%;
    text-align: center;
  }
  .title-footer-nav::before {
    content: '';
    background-color: #fff;
    padding: 0 1%;
    margin: 0 2%;
  }
  .title-footer-nav {
    font-size: 1.5rem;
    font-weight: 100;
    margin: 5% 0;
  }
  .footer-nav {
    font-size: 1.2rem;
    margin-bottom: 12%;
  }
  .footer-nav li {
    display: inline-block;
    margin: 0 4% 4%;
  }
  .footer-nav li:not(:last-child)::after {
    content: '/';
    margin: 0 16%;
  }
  .footer-nav a {
    color: #fff;
    display: inline-block;
  }
  .sns-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 12%;
  }
  .sns-nav li {
    margin: 3%;
  }
  .sns-nav img {
    height: auto;
    width: 100%;
  }
  footer p, footer address {
  font-style: normal;
  line-height: 1.6;
  }
  .copyright {
    font-size: 1.3rem;
  }
  .map {
    height: 0;
    margin: 4% 2%;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
  }
  .map iframe {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }


}
