@charset "UTF-8";

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-family: "游ゴシック体","Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, -apple-system BlinkMacSystemFont, sans-serif;
  font-size: 1.6rem;
}

h1, h2, h3, ul, ol, dl, dt, dd, p {
  margin: 0;
  padding: 0;
}
a {
  color: #333;
  text-decoration: none;
}
ul, ol {
  list-style: none;
}
/* スライダーの共通部分 */
.bx-wrapper .bx-prev {
  background: url(../images/swiper-left-arrow.svg) no-repeat left top;
  background-size: contain;
}
.bx-wrapper .bx-next {
  background: url(../images/swiper-right-arrow.svg) no-repeat right top;
  background-size: contain;
}
.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus {
  background-position: 0 0;
}
.bx-wrapper .bx-controls-direction a {
  height: 20px;
  width: 15px;
}
/* ランキングカウンターの共通部分 */
.item-ranking {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  counter-reset: ranking;
}
.item-ranking li {
  margin-bottom: 8%;
  width: 48%;
}
.item-ranking li img {
  height: auto;
  width: 100%;
}
.icon-rank {
  position: relative;
}
.icon-rank::before {
  background-color: #575757;
  border-radius: 50%;
  color: #fff;
  counter-increment: ranking;
  content: counter(ranking);
  font-weight: 300;
  font-size: 1.2rem;
  padding: 3% 5%;
  position: absolute;
  top: 4%;
  left: 4%;
}
.item-ranking li:nth-child(1) .icon-rank::before {
  background-color: #e3c813;
}
.item-ranking li:nth-child(2) .icon-rank::before {
  background-color: #807272;
}
.item-ranking li:nth-child(3) .icon-rank::before {
  background-color: #8b6933;
}

/* --- ハンバーガーメニュー ---*/
.hamburger-container {
  background-color: #fff;
  color: #5f5f5f;
  display: none;
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 10000;
  padding: 0 2% 10%;
  width: 100%;
  overflow-y: scroll;
  height: 100%;
}
.btn-menu-close {
  display: none;
}
.open .btn-menu-close {
  display: block;
}
.open .btn-menu-open {
  display: none;
}
.hamburger-title-block {
  color: #333;
  margin: 8% 0 1%;
  text-align: center;
}
.hamburger-sub-title {
  color: #333;
  margin-bottom: 8%;
  text-align: center;
}
.checked-items {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-bottom: 10%;
}
.checked-items li:not(:last-child) {
  margin-right: 1%;
}
.checked-items p {
  font-weight: bold;
  margin: 2% 0;
  text-align: center;
}
.checked-items img {
  height: auto;
  width: 100%;
}
.hamburger-main-menu li {
  border-top: 1px solid #eee;
  font-weight: bold;
  padding: 6% 0;
}
.hamburger-main-menu li:last-child {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 4% 0;
}
.hamburger-main-menu img {
  margin-right: 2%;
  height: auto;
  width: 2%;
}
.hamburger-footer-menu {
  margin: 6% 0;
}
.hamburger-footer-menu li {
  margin: 2% 0;
}
.hamburger-footer-menu li a:not(:last-child)::after {
  content: '/';
  margin: 0 2%;
}
.hamburger-sns-block {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: center;
  margin: 4% 0;
}
.hamburger-sns-block li {
  margin: 8% 0;
}
.hamburger-sns-block img {
  height: auto;
  width: 50%;
}
.hamburger-footer .js-btn-close {
  font-weight: bold;
  text-align: center;
  margin: 8% 0;
}
.hamburger-footer .js-btn-close img{
  height: auto;
  margin: 0 2%;
  width: 3%;
}


/* ----PC---- */
@media screen and (min-width:768px) {

  .btn-menu,
  .header-nav,
  .sp-top-slider,
  .top-slider .sp-top-slider {
    display: none;
  }
  body {
    font-size: 1.4rem;
  }
  .header, .top-slider, .news-block, .section-new-item, .section-pickup-item, .section-ranking,
  .section-banner-block, footer {
    width: 1000px;
    margin: 0 auto;
  }
  a:hover {
    opacity: .7;
  }
  .header {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
  }
  .logo {
    margin-right: 20px;
    width: 80px;
  }
  .global-menu ul {
    display: flex;
  }
  .pc-global-menu {
    margin: 0 160px 0 46px;
    width: 496px;
  }
  .pc-global-menu ul {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    line-height: 3;
  }
  .pc-global-menu li {
    margin: 0 20px;
  }
  .pc-global-menu img {
    margin: 4px 0 4px 10px;
  }
  .pc-header-nav {
    width: 244px;
  }
  .pc-nav-block ul {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  .pc-nav-block img {
    margin: 0 10px;
  }
  .pc-cart-icon {
    position: relative;
  }
  .pc-cart-counter {
    color: #fff;
    border: 1px solid #cb001d;
    border-radius: 50%;
    background-color: #cb001d;
    padding: 0 16%;
    position: absolute;
    left: 65%;
    bottom: 50%;
  }
  #search-form {
    height: 20px;
    border: 1px #bbb solid;
    border-radius: 10px;
    width:100%;
  }
  #search-form input{
    background-color: transparent;
    box-sizing: border-box;
    height: 100%;
    vertical-align: top;
  }
  #searchbox {
    border: none;
    margin-left: 14px;
  }
  #submit {
    border: none;
    background-image: url(../images/search-icon.svg);
    background-position: center;
    background-size: auto 90%;
    background-repeat: no-repeat;
    padding: 0 28px;
  }
  .news-block {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: 40px auto 80px;
    padding: 30px;
  }
  .news-block dt {
    float: left;
    width: 150px;
  }
  .news-block dd {
    margin-bottom: 24px;
    text-decoration: underline;
  }
  .news-block dd::after {
    content: '';
    clear: both;
  }
  .title-block {
    text-align: center;
    margin-bottom: 10px;
  }
  .sub-title {
    text-align: center;
    margin-bottom: 30px;
  }
  .product-name {
    margin: 10px 0;
    font-size: 1.4rem;
    font-weight: normal;
  }
  .product-price {
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }
  .section-pickup-item .product-item li:nth-child(n+6),
  .item-ranking li:nth-child(n+6) {
    display: none;
  }
  .section-new-item .product-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .section-new-item .product-item li:not(:nth-child(4n)) {
    margin: 0 30px 0 0;
    width: 220px;
  }
  .section-new-item,
  .section-pickup-item {
    border-bottom: 1px solid #eee;
    margin-top: 80px;
    padding-bottom: 80px;
  }
  .section-ranking {
    border-bottom: 1px solid #eee;
    margin-top: 80px;
  }
  .btn-view-all {
    border: 1px solid;
    margin: 60px 300px 0;
    position: relative;
    text-align: center;
  }
  .btn-view-all a {
    display: block;
    padding: 5%;
  }
  .btn-view-all i {
    position: absolute;
    right: 5%;
  }
  .section-pickup-item .product-item,
  .section-ranking .item-ranking {
    display: flex;
    justify-content: space-between;
  }
  .section-pickup-item .product-item li,
  .section-ranking .item-ranking li {
    width: 165px;
  }
  .section-pickup-item .product-item li:not(:last-child),
  .section-ranking .item-ranking li:not(:last-child) {
    margin-right: 2px;
  }
  .pagetop {
    margin: 120px auto 40px;
    text-align: right;
  }
  .banner {
      display: flex;
      margin-top: 80px;
  }
  .banner li:not(:last-child) {
    margin-right: 30px;
  }
  .banner img {
    height: auto;
    width: 100%;
  }
  footer {
    background-color: #6d6155;
    color: #fff;
    font-size: 1.2rem;
    padding: 36px 0;
  }
  .footer-nav-wrap {
    display: flex;
  }
  .footer-nav {
    margin:0 100px 60px 10px;
  }
  .footer-nav ul {
    line-height: 1.7;
  }
  .footer-nav a {
    color: #fff;
  }
  .footer-sns-nav {
    display: flex;
  }
  .footer-sns-nav img {
    margin: 0 10px;
    height: auto;
    width: 20px;
  }
  .footer-access-guide {
    display: flex;
  }
  .title-footer-nav {
    margin-bottom: 25px;
  }
  .title-footer-nav-wrap {
    background-color: #8b8074;
    padding: 20px 0 0 20px;
    width: 40%;
  }
  .title-footer-nav-wrap p {
    font-size: 2rem;
    margin: 10px;
  }
  address {
    line-height: 1.8;
  }
  .btn-view-map {
    border: 1px solid #fff;
    margin: 20px 40px;
    text-align: center;
  }
  .btn-view-map a {
    color: #fff;
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 20px 0;
    width: 100%;
  }
  .title-footer-nav::before {
    border: 2px solid #fff;
    content: '';
    margin-right: 8px;
  }
  .copyright {
    display: block;
    margin-top: 80px;
    text-align: center;
  }

}


/* ----------PC用終了---------- */

/* ----------SP用始まり---------- */
@media screen and (max-width:767px) {
  body {
    font-size: 1.3rem;
  }
  .pc-global-menu,
  .pc-header-nav,
  .pc-top-slider,
  .top-slider .pc-top-slider,
  .btn-view-map {
    display: none;
  }
  .header, h3 {
    margin: 0;
    width: 100%;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  .btn-menu {
    padding: 6% 2%;
    width: 30%;
  }
  .logo {
    text-align: center;
    padding: 2%;
    width: 30%;
  }
  .header-nav {
    width: 30%;
  }
  .header-nav ul {
    display: flex;
    justify-content: space-between;
    margin: 16% 10% 8%;
    }
  .header-nav ul li {
    margin: 0 16%;
    width: 50%;
  }
  .sp-cart-icon {
    position: relative;
  }
  .sp-cart-counter {
    color: #fff;
    border: 1px solid #cb001d;
    border-radius: 50%;
    background-color: #cb001d;
    padding: 0 16%;
    position: absolute;
    left: 65%;
    bottom: 50%;
  }

  .sp-top-slider {
    width: 100%;
    height: auto;
  }
  .news-block {
    margin: 4% 2% 8%;
  }
  .news-block dt {
    margin-bottom: 2%;
  }
  .news-block dd {
    margin-bottom: 4%;
    text-decoration: underline;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .section-new-item,
  .section-pickup-item,
  .section-ranking{
    margin: 20% 2%;
    padding-bottom: 10%;
    border-bottom: 1px solid #eee;
  }
  .title-block {
    margin-bottom: 2%;
    text-align: center;
  }
  .sub-title {
    margin-bottom: 10%;
    text-align: center;
  }
  .product-item li:nth-child(n+7) {
    display: none;
  }

  .product-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .product-item li {
    margin-bottom: 8%;
    width: 48%;
  }
  .product-item li img {
    height: auto;
    width: 100%;
  }
  .product-name {
    font-weight: 300;
    margin: 2% 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .product-price {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
  }
  .btn-view-all {
    border: 1px solid;
    font-size: 1.2rem;
    margin: 8% 14%;
    position: relative;
    text-align: center;
    width: 70%;
  }
  .btn-view-all a {
    display: block;
    padding: 6% 0;
  }



  .section-banner-block {
    margin: 10% 2%;
  }
  .banner li {
    margin: 10% 0;
    padding: 0;
  }
  .banner img {
    height: auto;
    width: 100%;
  }
  .pagetop {
    margin: 0 2%;
    text-align: right;
  }
  footer {
    background-color: #6d6155;
    color: #fff;
    font-size: 1.2rem;
    padding: 2% 0 6%;
    text-align: center;
  }
  .title-footer-nav::before {
    content: '';
    background-color: #fff;
    padding: 0 1%;
    margin: 0 2%;
  }
  .title-footer-nav {
    font-size: 1.5rem;
    font-weight: 100;
    margin: 5% 0;
  }
  .footer-nav {
    font-size: 1.2rem;
    margin-bottom: 12%;
  }
  .footer-nav li {
    display: inline-block;
    margin: 0 4% 4%;
  }
  .footer-shopping-nav li:not(:last-child)::after,
  .footer-customer-nav li:not(:last-child)::after,
  .footer-membership-nav li:not(:last-child)::after {
    content: '/';
    margin: 0 16%;
  }
  .footer-nav a {
    color: #fff;
    display: inline-block;
  }
  .footer-sns-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 12%;
  }
  .footer-sns-nav img {
    height: auto;
    margin: 3%;
    width: 100%;
  }
  footer p, footer address {
  font-style: normal;
  line-height: 1.6;
  }
  .copyright {
    font-size: 1.3rem;
  }
  .map {
    height: 0;
    margin: 4% 2%;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
  }
  .map iframe {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }


}
